/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
 ----------------------------------------------------------------------------------------*/
@import bear_defaults
@import "compass/css3/background-clip"
+layout($susy)
+layout($mommyBearMaxWidth 8)

section
	+container
	padding: 0
	margin: 0 auto
	$splashHeight: 360px
	nav
		text-align: left
		.splash, .ribbon
			display: block
			.ribbon-content
				display: block
		+clearfix
		position: relative
		.splash
			//repeating-linear-gradient(0deg, transparent, transparent 20px, rgba($orange, 0.4) 20px, rgba($orange, 0.4) 40px), 
			+span(full)
			min-height: $splashHeight
			z-index: 1
		.lozange
			position: absolute
			left: 50%
			top: $splashHeight - 80
			z-index: 3
			height: 0
			
			.caronia-small, .lozange-bg
				position: relative
				left: -50%
				margin-top: 0
			.lozange-bg
				top: -158px
				width: 160px
				height: 160px
				background-color: $white
				border-radius: 150 * 0.5px
				border: 5px solid shade($green, 15%)
				z-index: -1
		.ribbons
			+clearfix
		ul
			position: relative
			top: auto
			left: auto
			right: auto
			width: $mommyBearMaxWidth
			background: transparent
			list-style: none
			text-align: center
			padding: 0 40px
				top: $leading / 2
			z-index: initial
			li
				font-size: 1.5 * $scale * 1rem
	.content
		margin: 0 40px
			top: $leading * 2
	
	@import "ribbon"

@import "settings/tipue"

#front-page
	#recent-posts
		+span(8 of 8 last)
		.post
			+span(4 of 8)
			&:nth-child(2n + 1)
				+span(4 of 8 last)
			
#cv
	h1
		display: block

#blog
	article
		.article_body
			//aside
			//	float: left
			//	width: 20%
			//	margin: 1em 2em 1em 2em
			//		left: -22%
			//		right: 0
			//	+clearfix
			//	font:
			//		family: $helvetica
			//		size: 0.8rem
			//	color: #666
			//	p
			//		margin-top: 0
			ol, ul
				margin-left: 6rem
		footer
			#related
				ul
					width: 70%
					li
						float: left
						width: 28.5%
						margin-top: 0
						margin-right: 4.5%
						font-size: 0.85em
						line-height: 1
						&:list-child
							margin-right: 0

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 ----------------------------------------------------------------------------------------*/
//@include breakpoint($daddyBearMQ)
//	section
//		+container
/*
 * Footnote stuff
 */
@media screen and (min-width: 1155px)
	#blog
		.inline-footnote.closed, .inline-footnote.opened
			display: block
			position: absolute
			font-size: 0.7em
			margin-top: -1.5em
			width: 7rem
			border: 0
			top: auto
			padding: 0
			

			left: -7rem - ($leading / 2)
			&.odd
				left: auto
				right: -7rem - ($leading / 2)
			
			p,ul,ol
				margin-top: $leading * .7
				&:first-child
					margin-top: 0
			
			*
				line-height: 1.25

		.inline-footnote.opened
			& > *:first-child
				margin-top: $leading
			&:before, &:after
				display: none
			

		.inline-footnote sup
			display: inline
			top: 0
			font-size: inherit
			&:after
				content: ". "
	
