---
layout: blog
---
.articles
	%article#post.search_results
		.tipue_search_bar_container
			#tipue_search_bar.tipue_search_bar
				%label{:for => "q"} Input Box to Search This Blog
				%input#tipue_search_input.tipue_search_input{:type=>"text", :name => "q", :placeholder => "Search"}
				%input#tipue_search_button{:type=>"button"}
		#tipue_search_content